<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/crear.css">
    <title>Tipo Media Crear</title>
</head>
<body>
    <h1>Media Crear</h1>
    <h2>Crear</h2>
    <section>
        <p>{{mensaje}} </p>
    </section>
    <section>
        <form action="/admin/TipoMedia/create" method="post">
        <fieldset>
            <legend>Tipo Media</legend>
            <label for="nombre">Nombre</label>
            <input id="nombre" name="nombre" type="text">

            <label for="orden">Orden</label>
            <input id="orden" name="orden" type="number">

            <label for="activo_tipomedia">activo</label>
            <input id="activo_tipomedia"  name="activo" type="radio" value="1">

            <label for="inactivo_tipomedia">inactivo</label>
            <input id="inactivo_tipomedia" name="activo" type ="radio" value="0">
            
        </fieldset>
        <input type="submit" value="Crear">
        </form>
    </section>
    <a href="/admin/TipoMedia/listar"> <strong>volver a Tipo Media</strong></a>
</body>
</html>