<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integrantes Crear</title>
    <link rel="stylesheet" href="/assets/css/crear.css">
</head>
<body>
    <h1>Integrantes</h1>
    <h2>Crear</h2>
    <section>
        <p>{{mensaje}}</p>
    </section>
    <section>
        <form action="/admin/integrantes/create" method="post">
        <fieldset>
            <legend>Integrantes</legend>
            <label for="matricula">Matricula</label>
            <input id="matricula" name="matricula" type="text">

            <label for="nombre">Nombre</label>
            <input id="nombre" name="nombre" type="text">

            <label for="apellido">Apellido</label>
            <input id="apellido" name="apellido" type="text">

            <label for="url">Url Pagina</label>
            <input id="url" name="url" type="text">

            <label for="orden">Orden</label>
            <input id="orden" name="orden" type="number">

            <label for="activo_integrante">activo</label>
            <input id="activo_integrante"  name="activo" type="radio" value="1">

            <label for="inactivo_integrante">inactivo</label>
            <input id="inactivo_integrante" name="activo" type ="radio" value="0">
            
        </fieldset>
        <input type="submit" value="Crear">
        </form>
    </section>
    <a href="/admin/Integrantes/listar">volver a integrantes</a>
</body>
</html>