<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/crear.css">
    <title>Media Crear</title>
 
</head>
<body>
    <h1>Media Crear</h1>
    <h2>Crear</h2>
    <section>
        <p>{{mensaje}} </p>
    </section>
    <section>
        <form action="/admin/Media/create" method="post" enctype="multipart/form-data>
        <fieldset>
            <legend>Media</legend>
            <label for="titulo">Titulo</label>
            <input id="titulo" name="titulo" type="text">

            <label for="nombre">Nombre</label>
            <input id="nombre" name="nombre" type="text">

            <label for="url">Url</label>
            <input id="url" name="url" type="file">

            <label for="matricula">Matricula</label>
            <input id="matricula" name="matricula" type="text">


            <label for="id_tipo_media">Tipo Media:</label>
                <select id="id_tipo_media" name="id_tipo_media" required>
                 <option value="Imagen">Imagen</option>
                 <option value="Youtube">Youtube</option>
                 <option value="Dibujo">Dibujo</option>
                </select>
            
            <label for="orden">Orden</label>
            <input id="orden" name="orden" type="number">

            <label for="activo_tipomedia">activo</label>
            <input id="activo_tipomedia"  name="activo" type="radio" value="1">

            <label for="inactivo_tipomedia">inactivo</label>
            <input id="inactivo_tipomedia" name="activo" type ="radio" value="0">
            
        </fieldset>
        <input type="submit" value="Crear">
        </form>
    </section>
    <a href="/admin/TipoMedia/listar"> <strong>Volver a Tipo Media</strong></a>
</body>
</html>