<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Integrantes</title>
    <link rel="stylesheet" href="/assets/css/tabla.css">
</head>
<body>
    <h1>Media</h1>
    <h2>Listado</h2>
    <section>
        <table>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>url</th>
                <th>matricula</th>
                <th>id_tipo_media</th>
                <th>orden</th>
                <th>activo</th>
            </tr>

            {{#each media}}
            <tr>
                <td>{{id}} </td>
                <td> {{nombre}} </td>
                <td>{{url}}</td>
                <td> {{matricula}} </td>
                <td> {{id_tipo_media}} </td>
                <td> {{orden}} </td>
                <td> {{activo}} </td>
            </tr>
            {{/each}}
            
        </table>
    </section>
    <a href="/admin"><strong>Volver</strong> </a> <br>
    <a href="/admin/Media/crear">Crear</a>
</body>
</html>