<div class="container-navbar">
        <ul>
            <li><a href="/">Inicio</a></li>
            {{#each integrantes}}
            <li><a href="/{{url}}"> {{nombre}} </a></li>
            {{/each}}
            <li><a href="/paginas/curso.html">Curso</a></li>
            <li><a href="/paginas/word_cloud.html">WordCloud</a></li>
            {{#if inicio_admin}}
            <li><a href="/admin">Admin</a></li>
            {{/if}}

        </ul>
</div>
