<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Cloud</title>
    <link rel="stylesheet" href="../assets/css/word_cloud.css">
    <style>
        @import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  margin: 0px;
}

.container-navbar {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background: #aa8caf;
}

.container-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-navbar li {
  display: inline-block;
}

.container-navbar li a {
  transition: 0.3s ease;
  background: #aa8caf;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #aa8caf;
  border-bottom: 4px solid transparent;
  padding: 20px 0;
  margin: 0 20px;
}

.container-navbar li a:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}
    </style>
</head>

<body>
<!--<div class="container-navbar">
    <nav class="navbar">
        <ul>
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/paginas/Y17825/index.html">Alexis</a></li>
            <li><a href="/paginas/Y12858/index.html">Elvio</a></li>
            <li><a href="/paginas/Y23865/index.html">Gabriel</a></li>
            <li><a href="/paginas/Y26426/index.html">Lennys</a></li>
            <li><a href="/paginas/UG0507/index.html">Marco</a></li>
            <li><a href="/paginas/curso.html">Curso</a></li>
            <li><a href="/paginas/word_cloud.html">WordCloud</a></li>
        </ul>
    </nav>
</div>-->
   {{>nav}}

<section class="word_cloud">
    <ul class="cloud" aria-label="Webdev word cloud">
        <li><a href="#" data-weight="4">Colaboración</a></li>
        <li><a href="#" data-weight="1">Empatía</a></li>
        <li><a href="#" data-weight="5">Innovación</a></li>
        <li><a href="#" data-weight="8">Resiliencia</a></li>
        <li><a href="#" data-weight="6">Creatividad</a></li>
        <li><a href="#" data-weight="4">Adaptabilidad</a></li>
        <li><a href="#" data-weight="5">Comunicación</a></li>
        <li><a href="#" data-weight="6">Confianza</a></li>
        <li><a href="#" data-weight="2">Compromiso</a></li>
        <li><a href="#" data-weight="9">Superación</a></li>
        <li><a href="#" data-weight="3">Solidaridad</a></li>
        <li><a href="#" data-weight="7">Inspiración</a></li>
        <li><a href="#" data-weight="8">Gratitud</a></li>
        <li><a href="#" data-weight="1">Optimismo</a></li>
        <li><a href="#" data-weight="3">Determinación</a></li>
    </ul>
</section>
   {{>footer}}
</body>
</html>