/* Estilos generales */
@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
/* Estilos del título */
h1 {
    font-size: 36px;
    margin: 0;
    text-transform: uppercase;
}

body {
  margin: 0px;
}

.container-navbar {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background: #aa8caf;
}

.container-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-navbar li {
  display: inline-block;
}

.container-navbar li a {
  transition: 0.3s ease;
  background: #aa8caf;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #aa8caf;
  border-bottom: 4px solid transparent;
  padding: 20px 0;
  margin: 0 20px;
}

.container-navbar li a:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}
/* Estilos del logo */
.logo {
    display: block;
    margin: 20px auto;
    max-width: 200px;
}
/* Estilos del footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}
